body.debug-notes .reveal aside.notes {
  display: block;
  font-size: smaller;
  font-style: italic;
  color: #999;
  white-space: pre;
  text-align: left; }

body.debug-notes .reveal aside.notes::before {
  content: " notes:\a "; }
